img {
	border: 0px;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

th {
	color: #ffffff;
	background-color: #333333;
}

/*
p {
	text-indent: 1em;
}
*/

img.atmark {
	height: 0.9em;
	width: 0.9em;
	margin: 0 1px;
	border: none 0;
	vertical-align: middle;
}

a{
	color: #0000ff;
}

a:hover{
	color: #000080;
	text-decoration: underline;
}

p.menu {
	width: 100%;
	background-color: #333333;
}

p.menu a {
	color: white;
	background-color: #333333;
}

p.menu a:hover {
	color: red;
}

table.header {
	width: 100%;
}
