body {
	margin: 0;
	padding: 0;
}

img {
	border: 0px;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

th {
	color: #ffffff;
	background-color: #333333;
}

a{
	color: #0000ff;
}

a:hover{
	color: #000080;
	text-decoration: underline;
}

p.menu {
	width: 100%;
	color: #333333;
	background: linear-gradient(to bottom, #555555, #222222);
	margin: 0;
	padding: 0.3em 0;
	box-sizing: border-box;
	line-height: 1;
	font-size: 1em;
}

p.menu a {
	color: white;
	background: linear-gradient(to bottom, #555555, #222222);
	text-decoration: none;
}

p.menu a:hover {
	color: #000000;
	background: linear-gradient(to bottom, #AAAAAA, #EEEEEE);
}

table.header {
	width: 100%;
	padding: 0 1em;
	box-sizing: border-box;
}

/* メニュー以外のコンテンツに左右の余白を設定 */
h1, h2, h3, h4, h5, h6,
p:not(.menu),
ul, ol, dl,
table:not(.header),
pre, blockquote {
	margin-left: 1em;
	margin-right: 1em;
}
